/*page setup*/
body {
  background-size: cover;
  background-image: https://github.com/Geeko/geeko.github.io/blob/adding-a-background-image/images/geekoIcon.png?raw=true;
  font-family: sans-serif;
  /* this is to make sure that the text isn't obscured*/
  margin-top: 90px;
  /* add some padding to the body */
}

main {
  color: black;
  padding: 50px;
}

/* actual styling*/
header {
  background-color: #00ccff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}

a:hover{
 text-decoration: underline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
