/*page setup*/
body {
  background-size: cover;
  font-family: sans-serif;
  background-image: url("https://geeko.github.io/imgs/background.png");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(IMAGE_URL);
  /* this is to make sure that the text isn't obscured*/
  margin-top: 90px;
  /* add some padding to the body */
}

main {
  color: black;
  padding: 50px;
}

/* actual styling*/
header {
  background-color: #00ccff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header *, footer * {
  display: inline;
}

header li, footer li {
  margin: 20px;
}

header li a, footer li a {
  color: black;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #0099ff;
}

a:hover{
 text-decoration: underline;
}

a.visited{
  color: #9999ff
}

ul.posts, #projectList { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li, #projectList li {
    list-style: none;
}

footer{
  position: relative;
  height: 80px;
  display: inline;
  align-items: center;
}

img.avatar { margin-bottom: 30px; }

.alert{
  background-color: rgb(255, 51, 0);
}

.specifications{
  list-style-type: none;
}

footer{
  padding: 20px;
  padding-bottom: 50px;
  margin: 30px;
}
