---
layout: default
title: "Geeko Project Page"
---
<h1>{{ page.title }}<h1>
<h2>Projects</h2>
<ul style="list-style-type:none;">
  <li>{% include projectLink.html prerelease="True" href="/projects/geekohelpr" name="Geeko Helpr"  description="Geeko Helpr is an all in one helper made for people who have to juggle multiple tabs and/or windows open at the same time. With Geeko Helpr you don't have to juggle as many tabs and windows. With Geeko Helpr you can do simple tasks such as send emails and do basic math from one simple text interface"%}
    <span class="alert">[PRERELEASE]</span> <a href="/projects/geekohelpr">Geeko Helpr</a>    Geeko Helpr is an all in one helper made for people who have to juggle multiple tabs and/or windows open at the same time. With Geeko Helpr you don't have to juggle as many tabs and windows. With Geeko Helpr you can do simple tasks such as send emails and do basic math from one simple text interface</li>
</ul>

<h2>Projects in developement</h2>
<p>There are currently no projects in developemnt. If you have any suggestions to improve existing projects or suggestions for 
new projects email me at {% include email.html %}</p>
<ul>
</ul>
