<footer>
			<ul style="display:inline; border-top: 1px #00ccff">
				<li><img src="https://geeko.github.io/smallGeekoIcon.png" height="80px" alt="Geeko Coding Studios logo">
				</li>
				<li style="color:black;"><a href="mailto:GeekoCodingStudios@gmail.com" target="_blank" title="GeekoCodingStudios@gmail.com">Email</a></li>
				<li><a href="https://github.com/Geeko" title="github.com/Geeko" target="_blank">Github</a></li>
    				<li><a href="https://github.com/Geeko/geeko.github.io" title="Project Page" target="_blank">Website's Github</a></li>
			</ul>
		</footer>
