<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<header>
			<nav>
				<ul>
					<li><img src="/geekoicon.png" height="20px" alt="Geeko Coding Studios logo. mouse clicking on code with the caption code smart not hard"></li>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/questions">Questions</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<p> {{ content }} </p>
		</main>
		<footer>
			<ul style="display:inline; border-top: 1px #00ccff">
				<li style="color:black;"><a href="mailto:GeekoCodingStudios@gmail.com" target="_blank" title="GeekoCodingStudios@gmail.com">Email</a></li>
				<li><a href="https://github.com/Geeko" title="github.com/Geeko" target="_blank">Github</a></li>
    				<li><a href="https://github.com/Geeko/geeko.github.io" title="Project Page" target="_blank">Website's Github</a></li>
			</ul>
		</footer>
	</body>
</html>
