---
layout: default
---
<h1>{{ page.title }}</h1>

<ul class="specifications">
  {% if page.prerelease == True %}
  <li><span class="alert">[PRERELEASE]</span></li>
  {% endif %}
 <li>Catagory: {{ page.catagory }}</li>
 <li>Current Version: {{ page.version }}</li>
 <li>Current Version Release Date: {{ page.releaseDate }}</li>
 <li>UI type: {{ page.ui }}</li>
</ul>

<div class="content">
  <!--This is the short description-->
  {{ content }}
  
  <!--This is a list of perks or pros brought by the project-->
  <h2>Perks</h2>
  <ul class="perks">
    {{ page.perks }}
  </ul>
  
  <!--This is a list of quirks bor cons brought by the project-->
  <h2>Quirks</h2>
  <ul class="quirks">
    {{ page.quirks }}
  </ul>
  
  <p>Download at <a href={{ page.github }} target="_blank" title="github page">this link</a></p>
  {% if page.prerelease == False %}
    <p> or here <a href={{ page.download }} target="_blank" title="download">at this link</a></p>
  {% endif %}
</div>
