---
layout: default
---
<h1>{{ page.title }}</h1>

<ul class="specifications">
  {% if prerelease == True %}
  <li><span class="alert">This program is currently a prerelease</span></li>
  {% endif %}
 <li>Catagory: {{ catagory }}</li>
 <li>Current Version: {{ version }}</li>
 <li>Current Version Release Date: {{ releaseDate }}</li>
 <li>UI type: {{ ui }}</li>
</ul>

<div class="content">
  <!--This is the short description-->
  {{ content }}
  
  <!--This is a list of perks or pros brought by the project-->
  <ul class="perks">
    {{ perks }}
  </ul>
  
  <!--This is a list of quirks bor cons brought by the project-->
  <ul class="quirks">
    {{ quirks }}
  </ul>
  
  <p>Download at <a href={{ github }} target="_blank" title="github page">this link</a></p>
  {% if prerelease == False %}
    <p> or here <a href={{ download }} target="_blank" title="download">at this link</a></p>
  {% endif %}
</div>
